DATABASE ALBUMS

In [1]:
import pandas as pd


import warnings
warnings.filterwarnings('ignore')

In [2]:
#Descargo los datos del database

albums = pd.read_csv('../csv/top_albums.csv')

# Parte 1 

Ver a que nos enfrentamos para luego comenzar la limpieza

In [3]:
albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    320 non-null    int64
 1   Ranking                 320 non-null    int64
 2   Artist                  320 non-null    object
 3   Album                   320 non-null    object
 4   Worldwide Sales (Est.)  320 non-null    object
 5   CDs                     320 non-null    int64
 6   Tracks                  320 non-null    int64
 7   Album Length            320 non-null    object
 8   Genre                   320 non-null    object
dtypes: int64(4), object(5)
memory usage: 22.6+ KB

In [4]:
albums.describe().T

         count        mean       std     min      25%     50%      75%     max
Year     320.0  2005.50000  9.247553  1990.0  1997.75  2005.5  2013.25  2021.0
Ranking  320.0     5.50000  2.876780     1.0     3.00     5.5     8.00    10.0
CDs      320.0     1.04375  0.246528     1.0     1.00     1.0     1.00     4.0
Tracks   320.0    14.30625  5.868995     6.0    12.00    13.0    15.00    67.0

In [5]:
albums.dtypes

Year                       int64
Ranking                    int64
Artist                    object
Album                     object
Worldwide Sales (Est.)    object
CDs                        int64
Tracks                     int64
Album Length              object
Genre                     object
dtype: object

# Parte 2

Limpieza en base a nuestra busqueda

In [6]:
albums['Year'].unique()

array([2014, 1990, 1997, 2009, 1991, 1992, 1993, 1995, 1998, 2002, 2005,
       2006, 2007, 2008, 2010, 2013, 2015, 2017, 2019, 2021, 1996, 2000,
       2003, 2004, 2011, 2016, 2018, 2020, 1994, 1999, 2001, 2012],
      dtype=int64)

In [7]:
#Ordenar Year de menor a mayor
albums = albums.sort_values('Year')

In [8]:
# Columna rankings
albums = albums[albums['Ranking'] <= 3]

In [9]:
#Ordeno ranking de menor a mayor por ano. Tengo unicamente los datos del top3
albums = albums.sort_values(by=['Year', 'Ranking'], ascending=[True, True])

In [10]:
#Chequeo que mi database no tenga valores nulos
nan_cols = albums.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [11]:
# Y que no tenga filas repetidas
duplicadas = albums.duplicated().any()
duplicadas

False

In [12]:
#Renombro la columna de sales
albums = albums.rename(columns={'Worldwide Sales (Est.)': 'Worldwide Sales'})

In [13]:
#Borro la columna album length
albums = albums.drop('Album Length', axis=1)

In [14]:
#Reseteo el index 
albums = albums.reset_index(drop=True)

In [15]:
#Cambio nombres de artistas que me dan error para scrapear en wikipedia
nombres = {'Drake': 'Drake_(m√∫sico)',
    'Movie Soundtrack': 'Robert_Lopez',
    'Nirvana': 'Nirvana_(banda)',
    'New Kids On The Block': 'New_Kids_on_the_Block',
    'Ace Of Base': 'Ace_of_Base',
    'Oasis': 'Oasis_(banda)',
    'Brandy': 'Brandy_Norwood',
    'Santana': 'Santana_(banda)',
    'NCT Dream': 'Mark_Lee'

    }

albums['Artist'] = albums['Artist'].replace(nombres)

In [16]:
albums

,Year,Ranking,Artist,Album,Worldwide Sales,CDs,Tracks,Genre
0,1990,1,Madonna,The Immaculate Collection,"30,000,000",1,17,Pop
1,1990,2,New_Kids_on_the_Block,Step By Step,"20,000,000",1,12,Pop
2,1990,3,Garth Brooks,No Fences,"18,770,000",1,10,Country
3,1991,1,Metallica,Metallica,"33,000,000",1,12,Rock
4,1991,2,Nirvana_(banda),Nevermind,"30,000,000",1,13,Rock
...,...,...,...,...,...,...,...,...
91,2020,2,BTS,Be,"5,397,015",1,8,Pop
92,2020,3,Pop Smoke,"Shoot For The Stars, Aim For The Moon","4,777,389",1,19,Hip Hop
93,2021,1,Adele,30,"4,485,025",1,12,Pop
94,2021,2,Olivia Rodrigo,Sour,"3,830,500",1,11,Pop
95,2021,3,Mark_Lee,Hot Sauce,"3,633,287",1,10,Pop

# Exportar csv limpio

In [17]:
albums.to_csv('../csv_limpios/albums.csv', index=False)